<h4><%=t ('activerecord.actions.volunteers.new') %></h4>
<%= stylesheet_link_tag params[:controller] %>
<div class="volunteerForm">

  <%= bootstrap_form_for(@volunteer, :url => url_for(:action => "create")) do |v| %>
      <%= v.text_field :first_name %> <br />
      <%= v.text_field :last_name %> <br />
      <%= v.text_field :address %> <br />
      <%= v.text_field :gender %> <br />
      <%= v.text_field :identification_number %> <br />
      <%= v.check_box :has_char %> <br />
      <%= v.text_field :qualifications %> <br />
      <%= v.text_field :remarks %> <br />
      <%= v.number_field :age %> <br />
      <%= v.text_field :phone_number %> <br />
      <%= v.email_field :email %> <br />
      <%= label_tag 'מ' %>
      <%= date_field_tag 'from_day' %>
      <%= label_tag 'עד' %>
      <%= date_field_tag 'to_day' %>
      <br/><br/>
      
      <%= v.submit class: "btn btn-primary" %>
  <% end %>
</div>