<h4><%=t ('activerecord.actions.allocation_request.new') %></h4>
<%= stylesheet_link_tag params[:controller] %>
<div class="allocationRequestForm">
  <%= bootstrap_form_for(@allocation_request, :url => url_for(:action => "create")) do |v| %>
      <%= v.number_field :requested_amount %> <br />
      <%= v.date_field :day %> <br />
      <% options = options_from_collection_for_select(@hamals, 'id', 'name') %>
      <%= v.select :hamal_id, options %> <br />
      
      <%= v.text_field :description %> <br />
      <%= v.submit class: "btn btn-primary" %>
  <% end %>
</div>