
<li><%= link_to "ניהול הקצאות", allocation_index_path %></li>

<li><%= link_to "ניהול חמל", allocation_approval_index_path %></li>


<li><%= link_to "בקש הקצאת מתנדבים", new_allocation_request_path %></li>



<li><%= link_to "רשום מתנדב", new_volunteer_path %></li>


<li><%= link_to "ממשק ניהול", admin_root_path %></li>

